.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 600px;
    height: 700px;
    background-color: #252B48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
}

.log{
    font-size: 50px;
    color: #EAF9F0;
}

.username-box, .password-box, .age-box{
    width: 500px;
    height: 70px;
    background-color: #EAF9F0;
    border-radius: 5px;
}

.username-text, .password-text, .age-text{
    font-size: 25px;
    color: #EAF9F0;
    padding: 10px;
}

