body{
    background-color: #EAF9F0;
}

.page1{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promt{
    display: flex;
    justify-content: center;
    align-items: center;
}